/* Global Setting */
:root {
  --mainColor: #c49c4dff;
  --bgColor1: #000;
  --bgColor2: #141414e6;
  --fontColor1: #F5DEB3;
}

/* Very Extra small devices (phones, less than 500px) */
@media (max-width: 500px) {
  .services-title h5 {
    height: 50px;
  }
}

/* Extra small devices (phones, less than 576px) */
@media (max-width: 575.98px) {}

@media (max-width: 992px) {}

@media (max-width: 767px) {}

/* Small devices (tablets, 576px and up) */
@media (min-width: 576px) {}

/* Medium devices (desktops, 768px and up) */
@media (min-width: 768px) {}

/* Large devices (large desktops, 992px and up) */
@media (min-width: 992px) {}

/* Extra large devices (larger desktops, 1200px and up) */
@media (min-width: 1200px) {}

/* XL devices (very large screens, 1400px and up) */
@media (min-width: 1400px) {}

/* XXL devices (very large screens, 2000px and up) */
@media (min-width: 2000px) {
  .nav-link {
    font-size: 25px;
  }

  .logo {
    width: 200px;
  }
}

/* XXL devices (very large screens, 3000px and up) */
@media (min-width: 3000px) {
  .nav-link {
    font-size: 30px;
  }
}