/* Global Setting */
:root {
  --mainColor: #c49c4dff;
  --bgColor1: #000;
  --bgColor2: #141414e6;
  --fontColor1: #F5DEB3;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  color: var(--fontColor1);
  background-color: var(--bgColor1);
  font-family: 'Times New Roman', Times, serif;
}

h1,
h2,
h3,
h4,
h5,
h6,
a {
  text-decoration: none;
  color: var(--mainColor);
}

a:hover {
  text-decoration: underline;
}

p,
li {
  color: var(--fontColor1);
}

ul {
  list-style: none;
}

nav {
  height: 60px;
  z-index: 999;
}

article {
  margin-top: 40px;
}

hr {
  width: 20%;
  border-width: 3px;
  color: var(--fontColor1);
}

.justify-text {
  text-align: justify;
}


/* Text Seclection Setting */
::selection {
  color: var(--bgColor2);
  background: var(--mainColor);
}

/* Scrollbar Setting */
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-track {
  background: var(--bgColor1);
}

::-webkit-scrollbar-thumb {
  cursor: grab;
  background: var(--mainColor);
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}

/* #1 - Navbar Setting */
nav .nav-link,
nav .dropdown-toggle,
nav .nav-link:focus,
nav .dropdown-toggle:focus,
nav .navbar-nav .nav-link.show {
  color: var(--mainColor);
}

nav .nav-link:hover,
nav .nav-link.active {
  text-decoration: underline;
  color: var(--mainColor) !important;
}

nav .navbar-toggler,
nav .navbar-toggler i {
  border: none;
  color: var(--mainColor);
}

nav .navbar-nav {
  direction: rtl !important;
}

.dropdown-menu[data-bs-popper] {
  right: 0 !important;
  left: auto !important;
  background: var(--bgColor2);
  border: 1px solid var(--mainColor);
}

.dropdown-menu ul li {
  cursor: pointer;
}

.dropdown-menu hr {
  border-width: 4px;
  color: var(--mainColor);
}

nav .dropdown-toggle::after {
  display: none;
}

/* #2 - Btn-Group Setting */
.btn-group {
  flex-wrap: wrap;
  background: var(--bgColor2);
}

.btn {
  color: var(--fontColor1) !important;
}

.btn-check:checked+.btn, .btn.active, .btn.show, .btn:first-child:active, :not(.btn-check)+.btn:active {
  font-weight: bold;
  background: var(--mainColor);
  border-color: var(--bgColor2);
  color: var(--bgColor2) !important;
  border-radius: 20% !important;
  -webkit-border-radius: 20% !important;
  -moz-border-radius: 20% !important;
  -ms-border-radius: 20% !important;
  -o-border-radius: 20% !important;
}

/* #3 - Services Setting */
article.services-boost .services-item {
  background: var(--bgColor2);
  border: 1px solid var(--mainColor);
}

article.services-boost .order {
  cursor: pointer;
}

article.services-boost .services-popup .popup-item {
  top: 50%;
  left: 50%;
  width: 90%;
  opacity: 0;
  height: 90%;
  z-index: -1;
  position: fixed;
  overflow: scroll;
  background: var(--bgColor2);
  border: 1px solid var(--mainColor);
  transition: transform 0.3s ease, opacity 0.3s ease;
  -webkit-transition: transform 0.3s ease, opacity 0.3s ease;
  -moz-transition: transform 0.3s ease, opacity 0.3s ease;
  -ms-transition: transform 0.3s ease, opacity 0.3s ease;
  -o-transition: transform 0.3s ease, opacity 0.3s ease;
  transform: translate(-50%, -50%) scale(0.5);
  -webkit-transform: translate(-50%, -50%) scale(0.5);
  -moz-transform: translate(-50%, -50%) scale(0.5);
  -ms-transform: translate(-50%, -50%) scale(0.5);
  -o-transform: translate(-50%, -50%) scale(0.5);
}

article.services-boost .services-popup .popup-item::-webkit-scrollbar {
  display: none;
}

article.services-boost .services-popup .popup-item.active {
  opacity: 1;
  z-index: 2000;
  transform: translate(-50%, -50%) scale(1);
  -webkit-transform: translate(-50%, -50%) scale(1);
  -moz-transform: translate(-50%, -50%) scale(1);
  -ms-transform: translate(-50%, -50%) scale(1);
  -o-transform: translate(-50%, -50%) scale(1);
}

article.services-boost .popup-item .close {
  top: 20px;
  right: 20px;
  border: none;
  outline: none;
  background: none;
  position: absolute;
  color: var(--mainColor);
}

article.services-boost h3 {
  position: relative;
  color: var(--fontColor1);
}

article.services-boost p {
  line-height: 2;
  font-weight: bold;
}

article.services-boost hr {
  width: 25%;
  margin: 0 auto;
}

article.services-boost .services-title {
  color: var(--mainColor);
}

article.services-boost .order-button {
  width: fit-content;
  color: var(--bgColor2);
  background: var(--mainColor);
}

article.services-boost .popup-item .close {
  left: 20px;
  right: auto;
}

article.services-boost .services-popup .popup-item {
  background: var(--bgColor1);
}

article.services-boost .services-popup .popup-item span {
  font-size: 18px;
  color: var(--mainColor);
}

article.services-boost .services-popup .popup-item h3 {
  color: var(--mainColor);
}

article.services-boost .services-popup .popup-item hr {
  margin: 0;
}

article.services-boost .services-popup .popup-item h4:first-of-type {
  margin-top: 20px;
}

article.services-boost .services-popup .popup-item h4:not(:first-of-type) {
  margin-top: 35px;
}

article.services-boost .services-popup .popup-item ul li {
  margin-bottom: 10px;
}

article.services-boost .price b {
  color: var(--mainColor);
}

article.services-boost .buy-now {
  font-weight: bold;
  color: var(--bgColor2);
  background: var(--mainColor);
}

/* #4 - Contact Setting */
.contact {
  background: var(--bgColor2);
}

.contact i {
  color: var(--fontColor1);
}

/* #5 - Footer Setting */
.footer {
  background: var(--bgColor1);
}